.checkoutProduct{
    display: flex;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}
.checkoutProduct__image{
    object-fit: contain;
    height: 150px;
    width: 150px;

}
.checkoutProduct__info > button{
    background-color: #f0c14b;
    border:1px solid ;
    border-color:black;
    margin-top:5px ;
    color:black;
    
}
.checkoutProduct__rating{
    display: flex;
}